<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
<div class="admin-wrapper">
    <div class="menu-actions">
    <ul>
      <li class="button_categorias">
          <a routerLink="/criar-categorias">
              <i class="fa fa-list"></i> 
              Criar Categorias
          </a>
      </li>
      <li class="centered">
          <a routerLink="/criar-produtos" class="centered-button">
              <i class="fa fa-plus-square"></i>
              Cadastrar produtos
          </a>
      </li>
    </ul>
  </div>
</div>
  
  